<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/headers %>
    </head>

    <body>

    	<div class="page">
    		<% include ./partials/navbar %>


    		<div class="container-fluid" id="description">
                <div class="row text-center">
                    <div class="col-md-12">
                        <p>I am a recent graduate Magna Cum Laude with a Bachelor of Science in Computer Science and a minor in Mathematics. </p>
                    </div>
                </div>
    		</div>



    	</div>

     <% include ./partials/footer %>

    </body>
</html>