<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/headers %>
    </head>

    <body>

    	<div class="page">
    	<% include ./partials/navbar %>

	    	<div class="container-fluid" id="contact-container">
	    		<div class="row text-center">
		    		<div class="contact-item col-md-4">
		    			<a href="mailto:kimlalman28@gmail.com?Subject=Hello%20again"><i class="fas fa-envelope"></i></a>
		    		</div>
		    		<div class="contact-item col-md-4">
		    			<a href="https://www.linkedin.com/in/kimberlylalmansingh/" target="_blank"><i class="fab fa-linkedin"></i></a>
		    		</div>
		    		<div class="contact-item col-md-4">
		    			<a href="https://github.com/kimlalman28" target="_blank"><i class="fab fa-github-square"></i></a>
		    		</div>
	    		</div>
	    	</div>
    	</div>





     <% include ./partials/footer %>

    </body>
</html>
