<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/headers %>
    </head>

    <body>

    	<div class="page">
    		<% include ./partials/navbar %>


    		<div class="container-fluid" id="hero">
            <div id="photo">
              <img src="imgs/pic.jpg">
            </div>
    			<div id="hero-div">
    				<p id="hero-name">Kimberly Lalmansingh<p>
    			</div>
    		</div>



    	</div>





     <!-- <% include ./partials/footer %> -->

    </body>
</html>