<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/headers %>
    </head>

    <body>

    	<div class="project-page">
    		<% include ./partials/navbar %>


    		<div class="container-fluid" id="projects-container">
            	<div class="row justify-content-center">
            		<div class="card-deck" style="padding: 15px">
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Mini Jukebox</h5>
						      <p class="card-text cardp">HTML/CSS, Javascript, Express, EJS, Postgres, Heroku</p>
						    </div>
	   					</div>
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Youtube Clone</h5>
						      <p class="card-text cardp">HTML/CSS, Javascript, React, JSX</p>
						    </div>
	   					</div>
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Portfolio/Blog</h5>
						      <p class="card-text cardp">HTML/CSS, Javascript, Express, EJS, Postgres, Heroku</p>
						    </div>
	   					</div>
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Bookshelf</h5>
						      <p class="card-text cardp">Java</p>
						    </div>
	   					</div>
	   				</div>
            	</div>

            	<div class="row justify-content-center" style="margin-top: 40px">
            		<h2>Working with Algorithms & Notable Projects</h2>
            		<div class="card-deck" style="padding: 15px">
            			<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Image Processing</h5>
						      <p class="card-text cardp">Java & C++</p>
						    </div>
	   					</div>
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Comparison Sorts</h5>
						      <p class="card-text cardp">Java</p>
						    </div>
	   					</div>
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">Snowman World</h5>
						      <p class="card-text cardp">C++</p>
						    </div>
	   					</div>
	   					<div class="card col-md-3">
	   						<div class="card-body text-center">
						      <h5 class="card-title">More...</h5>
						      <p class="card-text cardp"></p>
						    </div>
	   					</div>
            		</div>
            	</div>
    		</div>



    	</div>

     <% include ./partials/footer %>

    </body>
</html>