body {
	margin: 0; !important
	padding: 0; !important
	background-color: #F9FFFD;
}


h1 {
	color: #C6AE43;
	font-family: Helvetica;
}

.page {
	/*background-color: #F5D7DD;*/
	height: 100%;
}


#nav {
	width: 100%;
	min-height: 50px;
	background-color: #F1686A;
}

#hero {
	width: 100%;
	height: 650px;
	margin-top: 30px;
	background-color: #F9FFFD;
}

#hero-div {
	margin-top: 50px;
	height: auto;
	width: auto;
}

#hero-name {
	color: #C6AE43;
	font-family: 'Courgette', cursive;
	font-size: 65px;
}

#photo img {
	height: 420px;
	width: 380px;
	border-radius: 50%;
	margin-top: 80px;
}

#contact-container {
	margin-top: 170px;

}

.contact-item {
	font-size: 200px;
}

.contact-item a {
	color: #F1686A;
}

.contact-item a:hover {
	color: pink;
}

#projects-container {
	margin-top: 90px;
}

#projects-row-1 {
	margin-top: 30px;
}

.cardp {
	font-size: 12px;
	color: #F1686A;
	font-family: Helvetica;
}

#description {
	margin-top: 9rem;
	padding-left: 10%;
	padding-right: 10%;
}

#skills-container {
	margin-bottom: 40px;
}

.skill-icon {
	font-size: 100px;
	padding: .4rem;
}

.skill-card {
	align-items: center;
}

.skill-card img {
	height: 80px;
	width: 70px;
}

.skill-card h5, .skill-card h6 {
	font-family: 'Courgette', cursive;
	color: #F1686A;
}

#footer-container {
	height: 50px;
	background-color: #F1686A;
	position: fixed;
	bottom: 0;
}

#footer {
	bottom: 0;
	margin-top: 25px;
}

#footer p {
	color: white;
	bottom: 0;
	font-size: 9px;
}

@media screen and (max-width: 671px) {  
   #photo img {
   	width: 280px;
   	height: 320px;
   }

   #hero {
   	margin-top: 20px;
   }
}

@media screen and (max-width: 575px) {  
	#projects-container {
		margin-top: 55px;
		margin-bottom: 50px;
	}

	#skills-container {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {  
	#contact-container {
		margin-top: 55px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 656px) {  
	#skills-container {
		margin-bottom: 50px;
	}
}
